{% extends "index.html" %}

{% block title %}ReadIT-About{% endblock %}

{% block content %}

<div class="card">
    <div class="card-header">
        <h2>ReadIT WebApp</h2>
        <h2>For</h2>
        <h2>Reading App Project</h2>
        <h2>Version 1</h2>
    </div>
    <div class="card-body">
        <h2>Team:</h2>
        <a href="https://bitbucket.org/%7B0c9c908b-1577-4fb9-b2c4-1b7ecfe60aee%7D/" target="_blank">
            <h3>Tanvir Ahamed [ 1521238642 ] /WebApp</h3>
        </a>
        <a href="https://bitbucket.org/%7B2fa0d088-7c56-4b49-8ed0-7edc9f756ecc%7D/" target="_blank">
            <h3>Sakif Hasan [ 1420602042 ] /AndroidApp</h3>
        </a>
        <a href="https://bitbucket.org/%7B539debb2-7bfb-4eef-84ce-df85199926fc%7D/" target="_blank" target="_blank">
            <h3>Md. Nasim Aleman Safa [ 1320493042 ] /OpenCV</h3>
        </a>

        <h3>CSE327 [ Software Engineering ]<br />
            SEC : 02<br />
            Faculty : DR. Nabeel Mohamed<a href="http://ece.northsouth.edu/people/dr-nabeel-mohammed/">[NBM]</a><br />
            Email : nabeel.mohammed@northsouth.edu<br>
            
        </h3>
    </div>
    <div class="card-footer">

        <h2>North South University</h2>
        <h2>25/08/19</h2>
    </div>
</div>
{% endblock %}
