{% extends 'index.html' %}

{% block title %}ReadIT-Groups{% endblock %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}
<div class="card">
    <div class="card-content">
        <div class="row">
            <div class="col" id="col1">
                <br>
                <div class="alert alert-primary">
                    <h2 class="text-center">Students</h2>
                </div>
                <ul class="list-group">
                    {% for Student in Students %}
                    <li class="list-group-item">
                        <div class="row">
                            <div style="width: 30%" class="column"><img class="rounded-circle  article-img" style="width: 70px;height: 70px" src="{% static '\ReadIT\image\student.png' %}"></div>
                            <div class="column">
                                <h5>Student Name:{{ Student.name }}</h5>
                                <h5>ID no: {{ Student.st_id }}</h5>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-1"></div>
            <div class="col" id="col2">
                <br>
                <div class="alert alert-success">
                    <h2 class="text-center">Active Tasks</h2>
                </div>
                <ul class="list-group">
                    {% for Task in Tasks %}
                    <li class="list-group-item">
                        <div class="row">
                            <div style="width: 30%" class="column"><img class="rounded-circle article-img" style="width: 70px;height: 70px" src="{% static '\ReadIT\image\pdf.png' %}"></div>
                            <div class="column">
                                <a href="{{ Task.pdf.url }}"><h5>Title: {{ Task.name }}</h5></a>
                                <h5>Task no: {{ Task.task_id }}</h5>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% else %}

<div class="text-center">Need an account? <a href="{% url 'signup' %}">Signup here</a></div>

{% endif %}

{% endblock%}
