{% extends 'index.html' %}

{% block title %}ReadIT-Home{% endblock %}

{% load static %}

{% block content %}

<style>
    .article-title {
        color: #444444;
    }

    a.article-title:hover {
        color: #428bca;
        text-decoration: none;
    }

    .article-content {
        white-space: pre-line;
    }

    .article-img {
        height: 80px;
        width: 80px;
        margin-right: 16px;
    }

    .article-metadata {
        padding-bottom: 1px;
        margin-bottom: 1px;
        border-bottom: 1px solid #e3e3e3
    }

    .article-metadata a:hover {
        color: #333;
        text-decoration: none;
    }

    .article-svg {
        width: 25px;
        height: 25px;
        vertical-align: middle;
    }

</style>

{% if user.is_authenticated %}

<h2>Welcome {{user.username}} sir!</h2>
<br>
<h2>Your Groups:</h2>

{% for Group in Groups %}

{% if Group.Gr_user == request.user %}

<article class="media content-section">
    <img class="rounded-circle article-img" src="{% static '\ReadIT\image\group.png' %}">
    <div class="media-body">
        <div class="article-metadata">
            <h3>{{ Group.Gr_name }}</h3>
            <h3>Group: {{ Group.Gr_id }}</h3>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'group-detail' Group.Gr_id %}">EditGroup</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'group' %}">GroupMembers</a>
        </div>
    </div>
</article>

{% endif %}

{% endfor %}

{% if Group.Gr_user != request.user %}
<div class="alert alert-info">
    <a href="{% url 'group-create' %}" class="alert-link">Create new group</a>.
</div>
{% endif %}

{% else %}
<div class="text-center">Need an account? <a href="{% url 'signup' %}">Signup here</a></div>
{% endif %}

{% endblock %}
