{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <title>{% block title %}ReadIT{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- CSS stylesheet -->
    <link href="{% static '/ReadIT/base.css' %}" rel="stylesheet" type="text/css">

    <!-- Load an icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{% url 'home' %}"><i class="fa fa-fw fa-home"></i> Home</a>
        <a href="{% url 'group-create' %}"><i class="fa fa-fw fa-group"></i>Create Groups</a>
        <a href="{% url 'task' %}"><i class="fa fa-fw fa-book"></i> Tasks</a>
        <a href="{% url 'student' %}"><i class="fa fa-fw fa-user"></i> Students</a>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top ">
        <button class="openbtn bg-dark" onclick="openNav()">&#9776; <b>Menu</b> </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto ">
                <a class="navbar-brand" href="#"><b>ReadIT</b></a>
                <form style="margin-right: 600px" class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
                <li class="nav-item active">
                    <a class="nav-link" href={% url 'home' %}><i class="fa fa-fw fa-home"></i> Home <span class="sr-only">(current)</span></a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href={% url 'profile' %}><img class="rounded-circle" style="width: 30px;height: 30px" src="{{ user.profile.image.url }}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={% url 'logout' %}>Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href={% url 'login' %}><i class="fa fa-fw fa-user-circle"></i> Login</a>
                </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" style="margin-right: 2%" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-fw fa-cogs"></i> Settings</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        {% if user.is_authenticated %}
                        <a class="dropdown-item" href="{% url 'profile' %}">Edit Profile</a>
                        {% endif %}
                        <a class="dropdown-item" href={% url 'about' %}>About</a>
                        <a class="dropdown-item" href={% url 'contact' %}></i> Contact Us</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Page Content -->
    <div class="container" id="main">
        <div class="row">
            <div class="col-md-10" id="colmain">
                {% if messages %}
                {% for messages in messages %}
                <div class="alert alert-{{ message.tag }}">
                    <h3>{{ message }}</h3>
                </div>
                {% endfor %}
                {% endif %}

                {% block content %}
                <!--Pages contents-->
                {% endblock %}
            </div>
            <div class="col-md-2">
                {% if user.is_authenticated %}
                <div class="content-section">
                    <h3>Notifications:</h3>
                    <ul class="list-group bg-dark">
                        <li class="list-group-item list-group-item-light">Notices</li>
                        <li class="list-group-item list-group-item-light">Group requests</li>
                        <li class="list-group-item list-group-item-light">Messages</li>
                        <li class="list-group-item list-group-item-light">Active tasks</li>
                    </ul>
                    </p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <!--Sidebar JavaScript-->
    <script>
        /* Set the width of the sidebar to 150px and the left margin of the page content to 150px */
        function openNav() {
            document.getElementById("mySidebar").style.width = "200px";
        }

        /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
        }

    </script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
