{% extends "index.html" %}
{% load static %}
{% block title %}ReadIT-Logout{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h2>You have been logged out</h2>
        <div class="border-top pt-3">
            <small class="text-muted">
                <a href="{% url 'login' %}">
                    <h5>Login in again</h5>
                </a>
            </small>
        </div>
    </div>
</div>
{% endblock %}
