{% extends "index.html" %}

{% block title %}ReadIT-Profile{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="card">
    <div class="card-header">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Information</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <h2 class="account-heading">{{ user.id }}</h2>
    </div>
</div>
{% endblock content %}
