{% extends 'index.html' %}

{% block title %}ReadIT-Task{% endblock %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}
<style>
    .article-title {
        color: #444444;
    }

    a.article-title:hover {
        color: #428bca;
        text-decoration: none;
    }

    .article-content {
        white-space: pre-line;
    }

    .article-img {
        height: 65px;
        width: 65px;
        margin-right: 16px;
    }

    .article-metadata {
        padding-bottom: 1px;
        margin-bottom: 4px;
        border-bottom: 1px solid #e3e3e3
    }

    .article-metadata a:hover {
        color: #333;
        text-decoration: none;
    }

    .article-svg {
        width: 25px;
        height: 25px;
        vertical-align: middle;
    }

    #col1 {
        background: lightblue;
    }

    #col2 {
        background: lightcoral;
    }

</style>
<div class="row">
    <div class="col" id="col2">
        <br>
        <h1 class="text-center">Tasks:</h1><a class="btn btn-info btn-sm mt-1 mb-1" href="/task/new">CreateTask</a>
        {% for Task in Tasks %}
        <article class="media content-section">
            <img class="rounded-circle article-img" style="width: 80px;height: 80px" src="{% static '\ReadIT\image\pdf.png' %}">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{{ Task.pdf.url }}">
                        <h5>{{ Task.name }}</h5>
                    </a>
                    <h5>Task no: {{ Task.task_id }}</h5>
                </div>
            </div>
        </article>
        {% endfor %}
    </div>
</div>

{% else %}

<div class="text-center">Need an account? <a href="{% url 'signup' %}">Signup here</a></div>

{% endif %}

{% endblock%}
