{% extends "index.html" %}

{% block title %}ReadIT-GroupCreate{% endblock %}

{% load crispy_forms_tags %}

<style type="text/css">
    body {
        background: #507cc0;
    }

    .form-control {
        font-size: 16px;
        transition: all 0.4s;
        box-shadow: none;
    }

    .form-control:focus {
        border-color: #5cb85c;
    }

    .form-control,
    .btn {
        border-radius: 50px;
        outline: none !important;
    }

    .signup-form {
        width: 480px;
        margin: 0 auto;
        padding: 30px 0;
    }

    .signup-form form {
        border-radius: 5px;
        margin-bottom: 20px;
        background: #fff;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 40px;
    }

    .signup-form a {
        color: #5cb85c;
    }

    .signup-form h2 {
        text-align: center;
        font-size: 34px;
        margin: 2px 0 5px;
    }

    .signup-form .hint-text {
        color: #999;
        text-align: center;
        margin-bottom: 2px;
    }

    .signup-form .form-group {
        margin-bottom: 5px;
    }

    .signup-form .btn {
        font-size: 18px;
        line-height: 26px;
        font-weight: bold;
        text-align: center;
    }

    .signup-btn {
        text-align: center;
        border-color: #5cb85c;
        transition: all 0.4s;
    }

    .signup-btn:hover {
        background: #5cb85c;
        opacity: 0.8;
    }

    .or-seperator {
        margin: 30px 0 5px;
        text-align: center;
        border-top: 1px solid #e0e0e0;
    }

    .or-seperator b {
        padding: 0 10px;
        width: 40px;
        height: 40px;
        font-size: 16px;
        text-align: center;
        line-height: 40px;
        background: #fff;
        display: inline-block;
        border: 1px solid #e0e0e0;
        border-radius: 50%;
        position: relative;
        top: -22px;
        z-index: 1;
    }

    .social-btn .btn {
        color: #fff;
        margin: 10px 0 0 15px;
        font-size: 15px;
        border-radius: 50px;
        font-weight: normal;
        border: none;
        transition: all 0.4s;
    }

    .social-btn .btn:first-child {
        margin-left: 0;
    }

    .social-btn .btn:hover {
        opacity: 0.8;
    }

    .social-btn .btn-primary {
        background: #507cc0;
    }

    .social-btn .btn-info {
        background: #64ccf1;
    }

    .social-btn .btn-danger {
        background: #df4930;
    }

    .social-btn .btn i {
        float: left;
        margin: 3px 10px;
        font-size: 20px;
    }

</style>

{% block content %}

<div class="signup-form">
    <form method="POST">
        {% csrf_token %}
        <h2>Are you sure you want to delete? {{ object.Gr_name }}</h2>
        <div class="or-seperator"></div>
        <div class="form-group">
            {{ form|crispy }}
            <button type="submit" class="btn btn-outline-danger">Yes Delete</button>
            <a class="btn btn-outline-secondary" href="{% url 'home' %}">Cancel</a>
        </div>
    </form>
</div>

{% endblock content %}
