{% extends 'index.html' %}

{% block title %}ReadIT-Group Details{% endblock %}

{% load static %}

{% block content %}
<div class="card">
    <div class="card-header">
        <article class="media content-section">
            <img class="rounded-circle article-img" style="width: 100px;height: 100px" src="{% static '\ReadIT\image\group.png' %}">
            <div class="media-body">
                <div class="article-metadata">
                    <h2>{{ object.Gr_name }}</h2>
                    <h3>Group: {{ object.Gr_id }}</h3>

                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'group-update' object.Gr_id %}">Update</a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'group-delete' object.Gr_id %}">Delete</a>
                        <a class="btn btn-info btn-sm mt-1 mb-1" href="/task/new">CreateTask</a>
                    </div>

                </div>
            </div>
        </article>
    </div>
</div>
{% endblock %}
