{% extends 'index.html' %}

{% block title %}ReadIT-UserHome{% endblock %}

{% load static %}

{% block content %}

<style>
    .article-title {
        color: #444444;
    }

    a.article-title:hover {
        color: #428bca;
        text-decoration: none;
    }

    .article-content {
        white-space: pre-line;
    }

    .article-img {
        height: 80px;
        width: 80px;
        margin-right: 16px;
    }

    .article-metadata {
        padding-bottom: 1px;
        margin-bottom: 1px;
        border-bottom: 1px solid #e3e3e3
    }

    .article-metadata a:hover {
        color: #333;
        text-decoration: none;
    }

    .article-svg {
        width: 25px;
        height: 25px;
        vertical-align: middle;
    }

</style>
{% if user.is_authenticated %}
<h2>Welcome {{user.username}} sir!</h2>
<br>
<h2>Your Groups</h2>
{% for Group in Groups %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{% static '\ReadIT\image\group.png' %}">
    <div class="media-body">
        <div class="article-metadata">
            <a href="{% url 'user-groups' Group.Gr_user.username %}">
                <h3>{{ Group.Gr_name }}</h3>
            </a>
            <h3>Group: {{ Group.Gr_id }}</h3>
        </div>
    </div>
</article>
{% endfor %}
{% else %}
<div class="text-center">Need an account? <a href="{% url 'signup' %}">Signup here</a></div>
{% endif %}

{% endblock %}
